.zagolovok{
    background-color:rgb(255, 255, 255);
    margin-top: 10px; 
    font-size:35px;
    font-weight:bold;
    height:50%;
    width:35%;
}
.body{
    margin:0;
}
.header{
width:100%; background-color:rgb(0, 0, 0);
 padding: 10px; height:100px;
}
.logo{float:left; margin:10px; width:50px; height:50px;}
.nav{
    max-width:300px; 
    background-color:rgb(200, 217, 255); 
    margin: 0 auto; margin-top:20px;
     padding:10px;
}
.ref
{
    width:100%; 
    background-color:rgb(224, 235, 255) ;
    margin-top:20px; padding:50px;
}
.floating
{
    float:left; border: 1px solid black;margin-right: 20px; width: 10%; height: 100%; background-color:rgb(200, 217, 255)  ;
}
.tablestyle
{
padding:10px;margin: 0 auto;
}
.table{
    border: 2px solid black ;
}
.spanfloating
{
    background-color:rgb(196, 161, 161);
}
.shrek
{
    height: 50px; width: 50px;
}